services:
  - type: web
    name: raava
    env: python
    plan: free
    runtime: python-3.12
    buildCommand: |
      pip install --upgrade pip
      apt-get update
      apt-get install -y gfortran libopenblas-dev liblapack-dev
      pip install -r requirements.txt
    startCommand: gunicorn --worker-class gevent --workers 1 --worker-connections 1000 --timeout 120 --bind 0.0.0.0:$PORT app:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: FLASK_DEBUG
        value: 0
      - key: PYTHONUNBUFFERED
        value: 1
      - key: MONGO_CONNECTION_STRING
        scope: secret
      - key: FLASK_SECRET_KEY
        scope: secret
      - key: OPENAI_API_KEY
        scope: secret
